
@media screen and (min-width: 768px) {
    .project-row {
        margin-bottom: 10px;
    }

    .project-col-title {
        padding-right: 5px;
    }
}

@media screen and (min-width: 950px) {
    .project-row {
        display: flex;
    }

    .project-col-title {
        width: 40%;
    }

    .project-col-details {
        width: 60%;
    }
}

@media screen and (min-width: 1206px) {
    .project-col-title {
        width: 20%;
    }

    .project-col-details {
        width: 80%;
    }
}
