.hrule-container {
    width: 100%;
    height:10px;
    margin: 10px 0 10px 0;
    text-align: center;
}

.hrule {
    height: 100%;
    width: 50%;
    color:#7898fb;
    display: inline-block;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .hrule-container {
        display: none;
    }
}
